.full-home {
    background-image: url(../Assets/BackgroundImages/BG3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    max-width: 100%;
    min-height: 100vh;
    padding: 30px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
  }
  .home-pic {
    min-height: 60vh;
    max-width: 100%;
    padding-right: 10px;
    border-radius: 5%;
    opacity: 1.5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width:769px){
    .full-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        max-width: 100%;
    }
    .home-pic {
      min-height: 30vh;
    }
  }
  .home-pic:hover {
    transform: scaleX(-1);
  }
  .welcome-note {
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .welcome-note p {
    font-size: 24px;
    color: white;
  }

  .welcome-note h2 {
    font-size: 32px;
    color: white;
  }

  .welcome-note h4 {
    font-size: 48px;
    color: white;
    padding: 0px;
  }
  