.full-home {
    background-image: url(../Assets/BackgroundImages/greycolor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    max-width: 100%;
    min-height: 100vh;
    padding: 30px;
    margin: 0px;
  }
  