.navbar {
    background-color: #333;
    color: #fff;
    width: 100%;
    max-height: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 3vw;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 0.5vw;
}

.nav-links {
    display: flex;
    float: right;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: block;
        font-size: smaller;
    }
}
.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}


.nav-links li {
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ecdbd5;
}